<div class="container">
  <h1 style="text-align:center">Welcome to {{title}}!</h1>
  <div class="row">
    <!-- start: search box -->
    <div class="col-sm-6 margin-top-10">
      <div class="input-group">
        <span class="input-group-btn">
          <a class="btn btn-danger" (click)="!searchControl.value ? false : searchControl.setValue('');">
              <i class="fa fa-times fa-1x"></i>
          </a>
        </span>
        <input id="input-search" [formControl]="searchControl" class="form-control" type="text" placeholder="search by name" />
      </div>
    </div>
    <!-- end: search box -->
    <!-- start: sortby filters -->
    <div class="col-sm-6 margin-top-10">
      <a class="btn btn-info" [ngClass]="{ 'btn-info': !sortByAscToggle, 'btn-danger': sortByAscToggle }" (click)="sortByJoiningDate($event);">
        <span *ngIf="!sortByAscToggle; else elseTemplate;">Sort By Joining Date</span>
        <ng-template #elseTemplate>Disable sorting</ng-template>
      </a>
    </div>
    <!-- end: sortby filters -->
  </div>
  <!-- start: table -->
  <table class="table table-striped table-hover margin-top-10">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Joining Date</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filteredList && !filteredList.length">Oops.. No items found!</tr>
      <tr *ngFor="let row of filteredList || list; let rowIndex = index;">
        <td>{{rowIndex + 1}}</td>
        <td>{{row.name}}</td>
        <td>{{row.joining_date}}</td>
        <td>{{row.age}}</td>
      </tr>
    </tbody>
  </table>
  <!-- end: table -->
</div>